@charset "utf-8";

/* common */
body{min-width:320px;font-weight:300;color:#797979;overflow-x: hidden}
input{margin:0;padding:0;border:0 none;}
.for-a11y{position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;border: 0;clip: rect(0 0 0 0);overflow: hidden;text-indent: -5000em;}
.sp,
.sp_before:before,
.sp_after:after{display:inline-block;overflow:hidden;background:url(../../img/sprite.png) no-repeat;text-indent:-999em}
.sp_before:before,
.sp_after:after{content:'';display:block;position:absolute}

.header_wrap{position:relative;z-index:1000;height: 64px;}
.header_wrap #header{position:fixed;top:0;left:0;width:100%;height:64px;background:#fff;border-bottom:1px solid #707070;}
.header_wrap .logo{width:174px;height:32px;margin:0 auto;padding-top: 15px;padding-bottom:17px;}
.header_wrap .logo .sp{display:block;width:174px;height:32px;background-position:0 0}
.header_wrap .btn_menu{position:absolute;top:0;right:0;width:64px;height:64px;}
.header_wrap .btn_menu:after{display:block;position:absolute;top:16px;right:17px;width:30px;height:30px;background-position:-34px -36px}
.header_wrap .page_title{text-align:center;line-height:64px;font-size:20px;font-weight:400;color:#000}
.header_wrap .link_prev{display:block;position:absolute;top:0;left:0;width:64px;height:64px}
.header_wrap .link_prev:before{position:absolute;top:16px;left:16px;width:30px;height:30px;background-position:0 -36px}

.right_menu_wrap{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:2000;background:rgba(0,0,0,.5)}
.right_menu_wrap #menu{overflow-y:auto;position:absolute;top:0;right:0;bottom:0;width:228px;background:#F2F2F2;}
.right_menu_wrap .box_top_menu{padding:30px;background:#fff;border-bottom:1px solid rgba(112,112,112,.4);}
.right_menu_wrap .box_top_menu dt a{font-size:14px;color:#000;line-height:36px;}
.right_menu_wrap .box_top_menu dd{display:none;}
.right_menu_wrap .box_top_menu dt.active + dd{display:block;}
.right_menu_wrap .box_top_menu li a{font-size:12px;color:rgba(0,0,0,.7);line-height:24px;}
.right_menu_wrap .box_bot_menu{padding:30px;}
.right_menu_wrap .box_bot_menu a{font-size:12px;color:#000;line-height:30px;}

#footer{margin-top:50px;padding:30px 20px;background:#333;text-align:center;}
#footer .text{margin-bottom:30px;font-size:12px;color:rgba(255,255,255,.7);line-height:17px}
#footer .copyright{font-size:11px;color:rgba(255,255,255,.5);}

.main_wrap .main_top{position:relative;}
.main_wrap .main_top > img{max-width:initial;width:100%;}
.main_wrap .main_top .tit{position:absolute;top:100px;right:0;left:0;height:69px;text-align:center;}
.main_wrap .main_top .box_link{position: absolute;bottom:0;left:0;width:100%;height:58px;font-size:0;}
.main_wrap .main_top .box_link a{display:inline-block;width:50%;height:58px;font-size:14px;color:#fff;font-weight:400;line-height:58px;text-align:center;background:rgba(0,0,0,.5);}
.main_wrap .main_top .box_link a:first-child{position:relative;left:-1px;}
.main_wrap .main_top .box_link a:after{display:inline-block;position:static;width:24px;height:24px;background-position:-124px -36px ;vertical-align:middle}

.main_info{padding:20px 15px 30px;background:#F0F2F8}
.main_info .box_top_info{margin-bottom: 15px;padding:20px 30px;background:#223F84;}
.main_info .box_top_info .tit{display:block;margin-bottom: 10px;font-size:16px;color:#fff;font-weight: 300;}
.main_info .box_top_info .text{margin-bottom: 15px;font-size:12px;color:rgba(255,255,255,.5);}
.main_info .box_top_info .btn_more{display:inline-block;width:92px;height:28px;border:1px solid rgba(255,255,255,.5);font-size:12px;color:#fff;text-align:center;line-height:28px;}
.main_info .box_top_info .btn_more:after{display:inline-block;position:relative;top:-1px;width:24px;height:24px;background-position:-124px -36px;vertical-align:middle}
.main_info .info_list{padding:0 0 10px;font-size:0;}
.main_info .info_list li{display:inline-block;width:50%;box-sizing:border-box;vertical-align:top}
.main_info .info_list li:nth-child(1){padding:0 5px 5px 0;}
.main_info .info_list li:nth-child(2){padding:0 0 5px 5px;}
.main_info .info_list li:nth-child(3){padding:5px 5px 0 0;}
.main_info .info_list li:nth-child(4){padding:5px 0 0 5px;}
.main_info .info_list .link{display:block;height:146px;padding:0 15px;background:#fff;}
.main_info .info_list .tit{display:block;margin-bottom: 10px;padding-top: 15px;font-size:16px;font-weight: 400;color:#000;}
.main_info .info_list .text{margin-bottom: 15px;font-size:12px;line-height:17px;color:rgba(0,0,0,.5);}
.main_info .info_list .btn_link{display:inline-block;width:92px;height:28px;border:1px solid #000;font-size:12px;color:rgba(0,0,0,.5);text-align:center;line-height:28px;}
.main_info .info_list .btn_link:after{display:inline-block;position:relative;top:-1px;width:18px;height:18px;background-position:-226px 0;vertical-align:middle}
.main_info .info_list .account_info .box{height:146px;padding:0 15px;background:#DCDFE8;}
.main_info .info_list .account_info .text{line-height:24px}
.main_info .box_cs_info{padding:15px 20px 20px;background:#6DA7C8;}
.main_info .box_cs_info .tit{display:block;margin-bottom: 10px;font-size:16px;font-weight:400;color:#fff;}
.main_info .box_cs_info .call_num{display: block;position: relative;padding:0 0 2px 25px;font-size:16px;color:#fff;line-height:16px;}
.main_info .box_cs_info .call_num:before{top:2px;left:0;width:16px;height:16px;background-position: -178px -22px}
.main_info .box_cs_info .time{display: block;padding:0 0 10px 25px;font-size:13px;color:#fff;line-height:19px}
.main_info .box_cs_info .kakao_id{display: block;position: relative;padding:0 0 0 25px;font-size:14px;color:#fff;}
.main_info .box_cs_info .kakao_id:before{left:-2px;width:22px;height:22px;background-position:-200px 0}
.main_info .box_cs_info .kakao_id .add_id{color:#FCE000;}

.main_notice{padding:20px;background:#fff;}
.main_notice .tit{display:block;margin-bottom:10px;font-size:16px;font-weight:700;color:#000;}
.main_notice .list li{position:relative;margin:0 0 20px;}
.main_notice .list .link{display:block;min-height:66px;padding:0 0 0 110px;}
.main_notice .list img{position:absolute;top:0;left:0;}
.main_notice .list .text{margin-bottom: 15px;font-size:13px;color:#000;line-height:17px;}
.main_notice .list .date{font-size:12px;color:rgba(0,0,0,.5);}

.main_edu_info{padding:20px 20px 50px;border-top:1px solid rgba(0,0,0,.1);background:#fff;}
.main_edu_info .tit{display:block;margin-bottom:10px;font-size:16px;font-weight:700;color:#000;}
.main_edu_info .list li{position:relative;}
.main_edu_info .list .link{display:block;overflow:hidden;padding-right:65px;text-overflow:ellipsis;white-space:nowrap;font-size:13px;color:#000;line-height:34px;}
.main_edu_info .list .date{position:absolute;top:0;right:0;line-height:34px;}

.sub_title_wrap{position:relative;height:46px;line-height:46px;text-align:center;color:#fff;font-weight:400;font-size:16px;background-color:#223F84}
.sub_title_wrap .btn_prev{position: absolute;left:0;top:0;width:46px;height:46px;text-indent:-999em}
.sub_title_wrap .btn_prev:before{position:absolute;left:11px;top:11px;width:24px;height:24px;background-position:-96px -36px}
.sub_title_wrap .btn_next{position: absolute;right:0;top:0;width:46px;height:46px;text-indent:-999em}
.sub_title_wrap .btn_next:before{position:absolute;left:11px;top:11px;width:24px;height:24px;background-position:-124px -36px}
.box_content .img_sub01_01{display:block;width:72%;margin:37px auto 0}
.page_sub01_01 .text{padding:0 5.3333%;font-size:12px;color:#000;line-height:20px}
.page_sub01_01 .text_big{padding:0 5.3333%;font-size:15px;color:#000;line-height:20px}
.box_content .img_sub01_02{display:block;width:93.6%;margin:37px auto 0}
.box_content .img_sub01_03_01{display:block;width:72%;margin:37px auto 0}
.box_content .img_sub01_03_02{display:block;width:93.6%;margin:37px auto 0}
.box_content .sub_map{width:100%}
.box_content .list_info{margin:23px 23px 0 23px}
.box_content .list_info li{font-size:14px;line-height:23px;color:#000;font-weight:300}
.box_content .list_info li.address{font-weight:400}
.box_content .list_info li .text_em{font-weight:600}
.box_content .sub_title{margin:30px 0 5px 25px;font-size:16px;font-weight:bold;color:#000}
.box_content .sub_title2{padding:30px 0 5px 25px;font-size:16px;font-weight:bold;color:#000;border-top:1px solid #D5D5D5}
.box_content .list_course{padding:0 16px;font-size:0}
.box_content .list_course .item{display:inline-block;width:50%;margin-top:10px;box-sizing:border-box}
.box_content .list_course .item:nth-child(odd){padding-right:5px}
.box_content .list_course .item:nth-child(even){padding-left:5px}
.box_content .list_course .item a{display:block;padding:15px 0 ;border:1px solid #87B2D6;text-align:center}
.box_content .list_course .item a .title{font-size:16px;color:#000;font-weight:400}
.box_content .list_course .item a .text{display:block;margin-top:2px;font-size:12px;color:#000;font-weight:400;opacity:.5;}
.box_content .list_course .item a .price{display:block;margin-top:10px;font-size:22px;color:#3F5DA2;font-weight:bold}
.box_course_group{position:relative;margin-top:20px;padding:14px 25px;background-color: #F0F2F8;}
.box_course_group{color:#3F5DA2;font-size:16px;font-weight:400}
.box_course_group .text_sm{display:block;margin-top:3px;font-size:12px;color:#000;opacity:.7;}
.box_course_group .btn_inqurie{position:absolute;right:25px;top:18px;padding:0 10px 0 15px;height:29px;text-align:center;background-color: #fff;color:#000;border:1px solid #000;box-sizing:border-box;line-height:29px}
.box_course_group .btn_inqurie:after{position:static;display:inline-block;width:18px;height:18px;margin-top:4px;vertical-align:top;background-position: -226px 0;}
.box_schedule{margin-top:15px;padding:0 16px}
.box_schedule + .box_schedule{margin-top:25px}
.box_schedule .title{display:block;padding:15px 0;border:1px solid #D5D5D5;text-align:center;font-size:14px;font-weight:bold;background-color:#F0F2F8;color:#3F5DA2}
.box_schedule .list_schedule{border:1px solid #D5D5D5;border-top:0}
.box_schedule .list_schedule .item{padding:18px 0;text-align:center;border-top:1px solid #D5D5D5}
.box_schedule .list_schedule .item:first-child{border-top:0}
.box_schedule .list_schedule .item .text{font-size:13px;color:#000;font-weight:400;letter-spacing:-0.5px}
.box_schedule .list_schedule .item .btn_apply{display:block;padding:0 10px 0 15px;margin:10px auto 0;width:93px;height:26px;text-align:center;background-color: #3F5DA2;color:#fff;box-sizing:border-box;line-height:26px}
.box_schedule .list_schedule .item .btn_apply:after{position:static;display:inline-block;width:18px;height:18px;margin-top:4px;vertical-align:top;background-position: -178px 0;}

.list_certify{overflow: hidden;padding:10px 25px 25px;}
.list_certify dt{float:left;padding-top:5px;font-size:14px;font-weight:400;color:#3F5DA2}
.list_certify dd{padding:5px 0 5px 89px;font-size:14px;font-weight:400;color:#000;opacity:0.7;}

.list_test_step{padding:15px 16px 25px}
.list_test_step li{position:relative;padding:10px;border:1px solid #87B2D6;text-align: center;font-size:14px;letter-spacing:-0.5px;color:#000;box-sizing: border-box;font-size:14px;font-weight:400}
.list_test_step li:first-child,
.list_test_step li:last-child{background-color:#F5FAFF;}
.list_test_step li + li{margin-top:20px}
.list_test_step li:before{left:50%;top:-17px;width:14px;height:14px;margin-left:-7px;background-position: -198px -26px;}

.box_text{padding:10px 25px 25px;}
.box_text .text_em{display:block;color:#3F5DA2;font-size:14px;font-weight:400}
.box_text .list_text li{padding-top:5px;font-size:12px;color:#000;opacity:0.7;letter-spacing:-0.5px}
.box_text .list_text + .text_em{margin-top:15px}
.box_text .text_notice{margin-top:8px;font-size:12px;color:#DE2525;opacity:0.7;letter-spacing:-0.5px}
.box_text .list_text2{overflow: hidden;}
.box_text .list_text2 li{float:left;width:50%;padding-top:5px;font-size:12px;color:#000;opacity:0.7;letter-spacing:-0.5px}

.text_edu{padding:25px;font-size:13px;font-weight:400;color:#000;line-height:20px}
.box_edu_info{border-top:1px solid #D5D5D5;padding:20px 25px 25px}
.box_edu_info dt{float:left;padding-top:5px;font-size:14px;color:#3F5DA2;font-weight:400}
.box_edu_info dd{padding:5px 0 5px 45px;font-size:14px;color:#000;font-weight:400;opacity:0.7;}
.img_sub03_01{display:block;width:91.4666%;margin:0 auto 25px}

.box_form{padding:0 16px}
.box_form .item{padding-top:15px}
.box_form .label{display:block;margin-bottom:3px;font-size:14px;color:#3F5DA2;font-weight:400}
.box_form .input_text{width:100%;font-size:14px;padding:10px;border:1px solid #D5D5D5;background-color:#F2F2F2;box-sizing:border-box}
.box_form .textarea{width:100%;height:238px;font-size:14px;padding:10px;border:1px solid #D5D5D5;background-color:#F2F2F2;box-sizing:border-box}
.box_form .agree_check{position:relative;padding:20px 0}
.box_form .agree_check .label{display:inline-block;color:#000;opacity:0.7;}
.box_form .agree_check .btn_view_agreement{position:absolute;right:0;top:15px;padding:0 10px 0 15px;height:29px;text-align:center;background-color: #fff;color:#000;border:1px solid #000;box-sizing:border-box;line-height:29px}
.box_form .agree_check .btn_view_agreement:after{position:static;display:inline-block;width:18px;height:18px;margin-top:4px;vertical-align:top;background-position: -226px 0;}
.box_content .btn_edu_apply{display:block;margin:0 16px;height:50px;line-height:50px;font-size:18px;font-weight:600;background-color:#3F5DA2;color:#fff;text-align:center}

.list_edu_info{padding:0 16px 25px;font-size:0}
.list_edu_info .item{display:inline-block;width:33.33%;padding:15px 6px 0;box-sizing:border-box;text-align:center}
.list_edu_info .item img{width:100%}
.list_edu_info .item .text{display:block;margin-top:8px;font-size:14px;font-weight:400;}
.list_edu_info2{padding:0 16px 25px;font-size:0}
.list_edu_info2 .item{display:inline-block;width:50%;padding:15px 6px 0;box-sizing:border-box;text-align:center;vertical-align:top}
.list_edu_info2 .item img{width:100%}
.list_edu_info2 .item .text{display:block;margin-top:8px;font-size:14px;font-weight:400;}

.page_sub03_03 .list_edu_info2{padding-top:10px;border-top:1px solid #D5D5D5;}
.page_sub03_03 .box_text .list_text li{padding-top:10px;font-weight:400}
.box_text .list_text li.fee_info{display:block;padding:15px 0;opacity:1;}
.page_sub03_03 .box_edu_info dd{padding-left:80px}

.box_board_list ul{padding:20px 20px 0;}
.box_board_list li{border-top:1px solid #eee;}
.box_board_list li:first-child{border-top:0;}
.box_board_list li a{display:block;padding:10px 0;}
.box_board_list li .text{margin:0 0 2px;font-size:14px;color:#333;}
.box_board_list li .date{font-size:12px;color:#999;}
.box_board_list .btn_search{display:block;position:fixed;right:0;bottom:0;width:62px;height:62px;background-position:-248px 0}

.box_board_view{padding:20px 20px 0;}
.box_board_view .tit{display:block;margin:0 0 2px;font-size:14px;font-weight: 400;color:#333;}
.box_board_view .date{display:block;padding:0 0 10px;margin:0 0 10px;border-bottom:1px solid #eee;font-size:12px;color:#999;}
.box_board_view .text{margin:0 0 30px;font-size:14px;color:#333;line-height:30px}
.box_board_view .btn_file{font-size:14px;color:#3F5DA2;}
.box_board_view .btn_file:before{display:inline-block;position:relative;top:-2px;width:24px;height:24px;background-position:-68px -36px;vertical-align:middle}

.box_faq .tit{height:52px;margin:25px 0 0;padding:0 15px;background:#F0F2F8;font-size:16px;font-weight:400;color:#3F5DA2;line-height:52px;}
.box_faq .tit:first-child{margin:0;}
.box_faq .faq_list{padding:0 15px;}
.box_faq .faq_list dt{position:relative;border-bottom:1px solid #eee;}
.box_faq .faq_list dt.active{border-bottom:0;}
.box_faq .faq_list dt a{display:block;position:relative;padding:15px 0 15px 15px;font-size:14px;color:#333;}
.box_faq .faq_list dt a .emphasis{top:14px;left:0;}
.box_faq .faq_list dd{display:none;position:relative;padding:8px 25px 8px 25px;background:#F2F2F2;font-size:12px;color:#333;line-height:20px;}
.box_faq .faq_list dd .emphasis{top:8px;left:10px;}
.box_faq .faq_list dt.active + dd{display:block;}
.box_faq .faq_list .emphasis{position:absolute;font-size:14px;font-weight:700;color:#333;}

.box_terms{padding:15px 20px;}
.box_terms .text{font-size:12px;color:#000;line-height:20px;}

.box_sitemap{text-align:center;}
.box_sitemap ul{padding:20px;font-size:0;}
.box_sitemap li{display:inline-block;width:50%;box-sizing:border-box;vertical-align: top}
.box_sitemap li:nth-child(1){padding:0 8px 16px 0 }
.box_sitemap li:nth-child(2){padding:0 0 16px 8px}
.box_sitemap li:nth-child(3){padding:0 8px 16px 0 }
.box_sitemap li:nth-child(4){padding:0 0 16px 8px}
.box_sitemap li:nth-child(5){padding:0 8px 16px 0 }
.box_sitemap li:nth-child(6){padding:0 0 16px 8px}
.box_sitemap dl{border:1px solid #87B2D6;height:170px;}
.box_sitemap li:nth-child(5) dl{height:100px;}
.box_sitemap li:nth-child(6) dl{height:100px;}
.box_sitemap li:nth-child(7){width:100%;}
.box_sitemap li:nth-child(7) dl{height:130px;}
.box_sitemap dt{height:45px;margin-bottom:15px;border-bottom:1px solid #87B2D6;font-size:16px;font-weight:700;color:#3F5DA2;line-height:45px}
.box_sitemap dd a{font-size:14px;color:#000;line-height:24px;}